$primary-color: lighten(#272727, 10%);
$secondary-color:#9ACD32;

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

@mixin transition-ease-out {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if(lightness($color)>40%) {
        @return black;
    }

    @else {
        @return #fff;
    }
}

@mixin bars {
    content: '';
    position: absolute;
    height: 3px;
    background-color: set-text-color($primary-color);
    @include transition-ease-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xlg {
    @media screen and (min-width: 1600px) {
        @content;
    }
}